@import url('../vendor/normalize.css');
/* @import url('./media.css'); */
@font-face {
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-family: 'Roboto';
}
@font-face {
    src: url('../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
    font-family: 'Yanone_Kaffeesat';
}
html {
   scroll-behavior: smooth;    
}

.page {
    max-width: 1440px;
    margin: 0 auto;      

}
.main {
    margin: 0 auto;
       
}
#header__anchor { 
    padding: 1px;
}
.header {
    position: fixed;
    top: 0;  
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 49px 20px 20px;     
    background-color: rgba(255, 255, 255, .9);
    margin: 0 auto;       
}

.header__mobile_image {
    display: none;       
}
.header__close_image {
    width: 26px;   
    display: none;
}
.header__link {
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    margin-left: 41px;
    color: #303030;
    font-family: 'Roboto';
    box-sizing: border-box;
    border-bottom: 2px solid transparent;    
    transition: border-bottom  ease-in ;
}
.header__link:hover {    
    border-bottom: 2px solid #FF8B02;
}
.header__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    color: #FF8B02;
    padding: 0 44px 0 34px;    
}
.intro {
    padding: 20px; 
    padding-top: 84px;  
    padding-bottom: 88px;
    background-color: #f4f4f4;  
    margin: 0 auto;
    margin-top: 104px;
    font-family: 'Yanone_Kaffeesat';
    
}
.intro__title { 
    margin: 0; 
    margin-top: 7px;    
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    padding-bottom: 60px;
}
.intro__text {  
    max-width: 1130px;  
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.07em;
    margin: 0 auto;
    color: #2D2D2D;
    margin-top: 12px;
    
}
.intro__text:nth-child(3) {
    margin-top: 25px;
    margin-bottom: 50px;
}
.intro__text:last-child {
    margin-top: 38px
}
.donation {
    padding-top: 55px;
    padding-bottom: 108px;
}
.donation__container {
    max-width: 1130px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;

}
.donation__yandex-money {
    width: 594px;
    padding-bottom: 241px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
}
.donation__patreon {
    max-width: 439px;    
}
.donation__title { 
    font-family: 'Yanone_Kaffeesat';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height:  36px;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 20px;
    padding-bottom: 15px;
    
}
.donation__button {
    font-family: 'Roboto'; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;    
    letter-spacing: 0.06em;    
    color: #FBFBFB;
    background: #E7820C;
    border: 2px solid #E7820C;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor:pointer;
    
}
.donation__text { 
    margin-top: 16px;
    font-family: 'Roboto';   
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.06em;
}
.donation__description {
    font-family: 'Yanone_Kaffeesat';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height:  36px;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0;
    padding-top: 84px;
    
}
.footer {    
    padding: 71px 155px 85px 155px;    
    background-color: #303030;
    font-family: 'Yanone_Kaffeesat';
    
}
.footer__container {
    width: 50%;    
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
    margin-bottom: 19px;
}
.footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #FBFBFB;
    margin-bottom: 17px;
}
.footer__link {
    color: #FBFBFB;    
    scroll-behavior: smooth;
}
.footer___image{
    margin-left: 30px; 
    transition: transform 1s ease-in-out;
}
.footer___image:hover{ 
    transform: translate(0, -15px)
}
.footer__sublink {    
    color: #616161;
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height:  27px;
    text-align: center;
    letter-spacing: 0.06em;    
}
.text_color-orange{
    color: #FF8B02;
}
.text_color-grey{
    color: #616161;
}

.text-decoration-line {
    text-decoration-line: underline;  
}

.text-decoration-line:hover {
    text-decoration-line: none;  
}

@media all and (max-width: 1024px) {
    header {
        padding-right: 10px;
    }
    .header__link {
        margin-left: 21px; 
    }
    .header__button {
        padding-left: 10px; 
        padding-right: 10px; 
    }
    .donation__container { 
        flex-direction: column;
    }
    .donation__yandex-money {
        width: 464px;        
    }
    .footer { 
        padding: 20px;
    }
    .footer__container { 
        max-width: 575px;
    }
} 


@media all and (max-width: 375px) {
    header {
        position: fixed;
        top: 0;
        width: 375px;        
    }
    .header__mobile_image {
        display: inline;
        position: absolute;
        top: 20px;
        left: 20px;
    }
   /*  .header__mobile_open {
         
        display: none; 
     } */

    .header__container {        
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);          
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;         
    } 
    .header__container_hide {
        display: none;
    }
    .header__mobile-popup {     
        max-width: 275px;   
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; 
        
    }
    .header__close_image { 
        position: absolute;
        top: -12px;
        right: -12px;
        cursor: pointer;
        display: inline;
        outline: none;
    }
    .header__link {
        margin: 0;
        margin-top: 15px;
    }
    .header__button { 
        display: none;
    }
    .intro { 
        margin-top: 34px;
        padding-bottom: 55px;
    }
    .intro__title { 
        font-size: 54px;
        line-height: 64px;
        padding-bottom: 30px;
        margin-bottom: 6px
    }
    .intro__text { 
        margin-top: 20px;
    }
    .intro__text_list {        
        line-height: 22px;         
    }
    .intro__text:nth-child(3) {
        margin-top: 27px;
        margin-bottom: 50px;
    }
    .intro__text:last-child {
        margin-top: 46px;
        margin-bottom: 0;
    }
    .donation { 
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .donation__title { 
        padding-bottom: 20px;
    }
    .donation__container { 
        flex-direction: column;
    }
    .donation__yandex-money {
        width: 375px; 
        padding-bottom: 229px;       
    }
    .donation__patreon { 
        padding-top: 38px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .donation__description {
        display: none;
    }
    .footer { 
        padding: 20px;
        padding-top: 68px;
        margin-bottom: 0;
        padding-bottom: 76px;
    }
    .footer__container { 
        width: 100%;
    }
    .footer__text { 
        margin-bottom: 19px;
    }
    .footer__sublink { 
        
        margin-top: 29px;
        
    }
} 